--button-primary-surface: var(--colors-action-primary-surface-default);
--button-primary-text: var(--colors-action-primary-foreground-default);
--button-secondary-text: var(--colors-action-secondary-foreground-default);
--button-secondary-border: var(--colors-action-secondary-border-default);
--button-accent-text: var(--colors-action-accent-foreground-default);
--button-accent-icon: var(--colors-action-accent-foreground-default);
--button-primary-border: var(--colors-action-primary-border-default);
--button-link-text: var(--colors-action-link-foreground-default);
--navbar-background: var(--white);
--navbar-border: var(--grey-10);
--navbar-text: var(--grey-90);
--button-primary-surface-hover: var(--colors-action-primary-surface-hover);
--button-primary-surface-pressed: var(--colors-action-primary-surface-pressed);
--button-primary-surface-disabled: var(--colors-action-primary-surface-disabled);
--button-primary-text-hover: var(--colors-action-primary-foreground-hover);
--button-primary-text-pressed: var(--colors-action-primary-foreground-pressed);
--button-primary-text-disabled: var(--colors-action-primary-foreground-disabled);
--button-primary-border-hover: var(--colors-action-primary-border-hover);
--button-primary-border-pressed: var(--colors-action-primary-border-pressed);
--button-primary-border-disabled: var(--colors-action-primary-border-disabled);
--button-primary-focus-ring: var(--colors-focus-ring);
--button-secondary-surface-hover: var(--colors-action-secondary-surface-hover);
--button-secondary-surface-pressed: var(--colors-action-secondary-surface-pressed);
--button-secondary-text-hover: var(--colors-action-secondary-foreground-hover);
--button-secondary-text-pressed: var(--colors-action-secondary-foreground-pressed);
--button-secondary-text-disabled: var(--colors-action-secondary-foreground-disabled);
--button-secondary-border-hover: var(--colors-action-secondary-border-hover);
--button-secondary-border-pressed: var(--colors-action-secondary-border-pressed);
--button-secondary-border-disabled: var(--colors-action-secondary-border-disabled);
--button-secondary-focus-ring: var(--colors-focus-ring);
--button-accent-text-hover: var(--colors-action-accent-foreground-hover);
--button-accent-text-pressed: var(--colors-action-accent-foreground-pressed);
--button-accent-text-disabled: var(--colors-action-accent-foreground-disabled);
--button-accent-icon-hover: var(--colors-action-accent-foreground-hover);
--button-accent-icon-pressed: var(--colors-action-accent-foreground-pressed);
--button-accent-icon-disabled: var(--colors-action-accent-foreground-disabled);
--button-accent-surface-hover: var(--colors-action-accent-surface-hover);
--button-accent-surface-pressed: var(--colors-action-accent-surface-pressed);
--button-accent-focus-ring: var(--colors-focus-ring);
--button-link-text-hover: var(--colors-action-link-foreground-hover);
--button-link-text-pressed: var(--colors-action-link-foreground-pressed);
--button-link-text-disabled: var(--colors-action-link-foreground-disabled);
--button-link-focus-ring: var(--colors-focus-ring);
--button-accent-label-default: var(--colors-action-secondary-foreground-default);
--button-accent-label-hover: var(--colors-action-secondary-foreground-hover);
--button-accent-label-pressed: var(--colors-action-secondary-foreground-pressed);
--button-accent-label-disabled: var(--colors-action-secondary-foreground-disabled);
