--colors-text-text-primary: var(--grey-90);
--colors-text-text-secondary: var(--grey-80);
--colors-text-inverted: var(--white);
--spaces-4: var(--spaces-4);
--spaces-8: var(--spaces-8);
--spaces-12: var(--spaces-12);
--spaces-24: var(--spaces-24);
--spaces-32: var(--spaces-32);
--spaces-64: var(--spaces-64);
--radius-32: var(--radius-32);
--radius-24: var(--radius-24);
--radius-16: var(--radius-16);
--radius-12: var(--radius-12);
--spaces-16: var(--spaces-16);
--radius-20: var(--radius-20);
--colors-border-grey: var(--grey-20);
--colors-chart-chart-yellow-fill: var(--yellow-20);
--colors-chart-chart-yellow-stroke: var(--yellow-50);
--colors-chart-chart-yellow-text: var(--yellow-80);
--colors-chart-chart-blue-fill: var(--blue-20);
--colors-chart-chart-blue-stroke: var(--blue-50);
--colors-chart-chart-blue-text: var(--blue-80);
--colors-chart-chart-green-fill: var(--green-20);
--colors-chart-chart-green-stroke: var(--green-50);
--colors-chart-chart-green-text: var(--green-80);
--colors-chart-chart-red-fill: var(--red-20);
--colors-chart-chart-red-stroke: var(--red-50);
--colors-chart-chart-red-text: var(--red-80);
--colors-chart-chart-purple-fill: var(--purple-20);
--colors-chart-chart-purple-stroke: var(--purple-50);
--colors-chart-chart-purple-text: var(--purple-80);
--spaces-48: var(--spaces-48);
--spaces-80: var(--spaces-80);
--spaces-120: var(--spaces-120);
--spaces-200: var(--spaces-200);
--spaces-0: var(--spaces-0);
--spaces-20: var(--spaces-20);
--spaces-10: var(--spaces-10);
--spaces-14: var(--spaces-14);
--spaces-40: var(--spaces-40);
--spaces-100: var(--spaces-100);
--colors-focus-ring: var(--blue-50);
--colors-action-primary-surface-default: var(--grey-90);
--colors-action-primary-surface-hover: var(--grey-80);
--colors-action-primary-surface-pressed: var(--grey-70);
--colors-action-primary-surface-disabled: var(--grey-20);
--colors-action-primary-foreground-default: var(--white);
--colors-action-primary-foreground-hover: var(--white);
--colors-action-primary-foreground-pressed: var(--white);
--colors-action-primary-foreground-disabled: var(--grey-40);
--colors-action-primary-border-default: var(--grey-90);
--colors-action-primary-border-hover: var(--grey-80);
--colors-action-primary-border-pressed: var(--grey-70);
--colors-action-primary-border-disabled: var(--grey-20);
--colors-action-secondary-foreground-default: var(--grey-90);
--colors-action-secondary-foreground-hover: var(--grey-80);
--colors-action-secondary-foreground-pressed: var(--grey-70);
--colors-action-secondary-foreground-disabled: var(--grey-40);
--colors-action-secondary-border-default: var(--grey-90);
--colors-action-secondary-border-hover: var(--grey-80);
--colors-action-secondary-border-pressed: var(--grey-70);
--colors-action-secondary-border-disabled: var(--grey-20);
--colors-action-secondary-surface-hover: var(--grey-10);
--colors-action-secondary-surface-pressed: var(--grey-20);
--colors-action-accent-foreground-default: var(--orange-70);
--colors-action-accent-foreground-hover: var(--orange-80);
--colors-action-accent-foreground-pressed: var(--orange-90);
--colors-action-accent-foreground-disabled: var(--orange-40);
--colors-action-accent-surface-hover: var(--orange-20);
--colors-action-accent-surface-pressed: var(--orange-30);
--colors-action-link-foreground-default: var(--grey-90);
--colors-action-link-foreground-hover: var(--grey-80);
--colors-action-link-foreground-pressed: var(--grey-70);
--colors-action-link-foreground-disabled: var(--grey-40);
--colors-surface-background: var(--white);
--colors-illustration-foreground: var(--grey-80);
--colors-surface-canvas: var(--blue-10);
--colors-border-divider: var(--grey-10);
--colors-surface-subtle: var(--grey-10);
--colors-surface-inverted: var(--grey-90);
--radius-4: var(--radius-4);
--radius-8: var(--radius-8);
--radius-36: var(--radius-36);
--radius-48: var(--radius-48);
--radius-60: var(--radius-60);
--radius-68: var(--radius-68);
--spaces-160: var(--spaces-160);
