:root {
  --blue-20: #d1e6ff;
  --blue-50: #3079e0;
  --blue-80: #0044a3;
  --yellow-20: #ffedcc;
  --yellow-50: #e8a020;
  --yellow-80: #995d00;
  --green-20: #c9f8e2;
  --green-50: #34b679;
  --green-80: #2f6a56;
  --red-20: #fedce0;
  --red-50: #e4637a;
  --red-80: #981a31;
  --purple-20: #e2dcfe;
  --purple-50: #8b5cf6;
  --purple-80: #420bc1;
  --black: #000000;
  --grey-90: #0e0e0e;
  --grey-70: #656262;
  --grey-80: #494747;
  --white: #ffffff;
  --grey-40: #868383;
  --orange-70: #fd6d2b;
  --grey-20: #d2d2d2;
  --white-transparent: #ffffff;
  --spaces-0: 0px;
  --spaces-2: 2px;
  --spaces-4: 4px;
  --spaces-8: 8px;
  --spaces-12: 12px;
  --spaces-16: 16px;
  --spaces-24: 24px;
  --spaces-20: 20px;
  --spaces-32: 32px;
  --spaces-48: 48px;
  --spaces-60: 60px;
  --spaces-64: 64px;
  --spaces-72: 72px;
  --spaces-80: 80px;
  --spaces-120: 120px;
  --spaces-200: 200px;
  --spaces-240: 240px;
  --spaces-300: 300px;
  --radius-32: 32px;
  --radius-24: 24px;
  --radius-20: 20px;
  --radius-16: 16px;
  --radius-12: 12px;
  --spaces-128: 128px;
  --spaces-144: 144px;
  --spaces-160: 160px;
  --spaces-176: 176px;
  --spaces-192: 192px;
  --spaces-280: 280px;
  --spaces-140: 140px;
  --spaces-10: 10px;
  --spaces-14: 14px;
  --spaces-40: 40px;
  --spaces-100: 100px;
  --grey-10: #e6e6e3;
  --orange-20: #ffe4d6;
  --orange-30: #fdc8a5;
  --orange-40: #fdad7d;
  --orange-80: #d45820;
  --orange-90: #993f15;
  --blue-10: #f0f6ff;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-36: 36px;
  --radius-48: 48px;
  --radius-60: 60px;
  --radius-68: 68px;
}
